body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #9a6eb973;
}

h1{
  font-weight: 700;
}

.review-div{
  width: 450px;
}

.song-div{
  width: 450px;
  margin-bottom: 15px;
}